header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 90px;
    background-color: #9ca8dd;
    width: 100%;
    -webkit-box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.22); 
box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.22);
font-family: "Courier New", Courier, monospace;
font-size: 25px;
letter-spacing: 3px;
word-spacing: 4px;
color: #4A4A4A;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
text-decoration: none;
}

.img{
    width: 100px;
    margin-right: 100px;
    margin-top: 10px;

}

.links{
    text-decoration: none;
}

